*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}
.hero{
    height: 100vh;
    width: 100%;
    background-image: url(1.jpg);
background-size: cover;
background-position: center;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right:8% ;
}
.logo{
    color: black;
    font-size:45px;
    letter-spacing: 1px;
}
span{
    color:green;
}
nav ul li{ 
    color:black;
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}
nav ul li a{
    color:black;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}
nav ul li a:hover{
    color: green;
    transition: .4s;
}
.btn{
    background-color: green;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform.4s;
}
.btn:hover{
    transform: scale(1.2) ;
}
.btn:hover{
    transform:scale(1.2)
}
.content{
    position: absolute;
    top: 35%;
    left: 8%;
    transform: translateY(-50%);
}
h1{
    color:black;
    margin: 20px 0px 20px;
    font-size:60px;
}
h4{
    color:green;
    letter-spacing: 2px;
    font-size: 20px;
}
h5{
    font-size: 15px;
}
.newslatter form{
    margin-right: 30px;
    margin-top: 25px;
    width: 300px;
    max-width: 100%;
    position: relative;
}
.newslatter form input:first-child{
    display: inline-block;
    width: 100%;
    padding: 14px 125px 12px 5px;
    border: 2px solid green;
    outline: none;
    border-radius: 20px;
}
.newslatter form input:last-child{
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 20px;
    background-color:green;
    color:white;
    box-shadow: 0px 0px 4px #000, 0px 0px 14px #858585;
    top: 5px;
    right:5px;
}
#startbutton{
    border-radius: 20px;
}